.cinemaBlock {
  margin-bottom: 10rem;
}

.cinemaBlock .wrapper {
  width: 65%;
  margin: 0 auto;
}

.cinemaBlock .wrapper .cinema__system,
.cinemaBlock .wrapper .cinema__group,
.cinemaBlock .wrapper .cinema__movie {
  border: 1px solid #e2e2e2;
  padding: 0;
  height: 600px;
}

.cinemaBlock .wrapper .cinema__group,
.cinemaBlock .wrapper .cinema__movie {
  border-left: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.cinema__system li a {
  padding: 2rem 1.5rem 0;
  height: 84px;
  background-color: white !important;
}

.cinema__system li a div {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 2rem;
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

.cinema__system li a div img {
  pointer-events: none;
  max-width: 100%;
  height: auto;
}

.cinema__system li a:hover div,
.cinema__system li a:global(.active) div {
  opacity: 1;
}

.cinema__group a {
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 84px 0 0;
  background-color: white !important;
}

.cinema__group a .details {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  bottom: 0;
  right: 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  opacity: 0.35;
  pointer-events: none;
}

.cinema__group a:hover .details,
.cinema__group a:global(.active) .details {
  opacity: 1;
}

.details .cinema__image {
  width: 43.02px;
}

.details .cinema__image .image {
  width: 100%;
}

.details .describe {
  width: calc(100% - 43.02px);
  padding-left: 1rem;
  font-size: 1.2rem;
}

.details .describe .name,
.details .describe .address,
.details .describe .moreInfo {
  margin-bottom: 0;
  width: 100%;
  color: #949494;
  font-size: 12px;
  letter-spacing: 0.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.details .describe .name {
  color: #8bc541;
}

.details .describe .moreInfo {
  font-style: italic;
  color: red;
}

.cinema__movie {
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

.cinema__movie .movie__details {
  padding: 2rem 1.5rem 0;
  max-height: 164px;
  overflow: hidden;
  border-bottom: 1px solid #e2e2e2;
}

.cinema__movie .movie__details .movie__info {
  height: 64px;
  overflow: hidden;
}

.cinema__movie .movie__details .movie__info .image img {
  width: 60px;
  margin-right: 15px;
}

.cinema__movie .movie__details .movie__info .info {
  width: 100%;
  padding-top: 5px;
}

.cinema__movie .movie__details .movie__info .info .rated {
  background-color: green;
  color: #fff;
  border-radius: 4px;
  padding: 2px 5px;
  margin-right: 5px;
  font-size: 12px;
  min-width: 33px;
  text-align: center;
  display: inline-block;
}

.cinema__movie .movie__details .movie__info .info .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 22px;
  display: inline-block;
}

.cinema__movie .movie__details .movie__info .info .subInfo {
  margin-bottom: 0;
  font-size: 14px;
  color: #9b9b9b;
}

.movie__showtime {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.movie__showtime a {
  width: calc(22% - 1px);
  margin: 1rem 1rem 2rem 0;
  height: 54px;
  text-decoration: none;
  color: #9b9b9b;
  background-color: #fbfbfb;
  border-radius: 7px;
  display: block;
  font-size: 17px;
  border: 1px solid #9b9b9b;
  text-align: center;
}

.movie__showtime a .startTime {
  color: #108f3e;
  transition: all 0.3s;
}
/*# sourceMappingURL=cinema.module.css.map */