@import "../../asset/basicSCSS/responsive.scss";

.new__section {
  padding-top: 6rem;
  .wrapper {
    max-width: 94rem;
    margin: 0 auto;
    .news__content {
      .news__header {
        display: flex;
        border: none;
        justify-content: center;
        margin: 1rem;
      }
      .news__body {
      }
    }
  }
}

.news__header {
  .header__tab {
    border: none;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    background-color: transparent;
    text-decoration: none;
    transition: 0.2s all;
    &:first-child {
      margin-right: 1rem;
    }
    &:hover {
      font-size: 2.4rem;
    }
    &:global(.active) {
      font-size: 2.4rem;
      color: #fa5238;
    }
  }
}

.news__body {
  .news__big,
  .news__small {
    @include for-size(578px, down) {
      width: 100% !important;
    }
  }
  .news__item {
    margin-bottom: 2rem;
    .news__image {
      position: relative;
      padding-top: 55%;
    }
    a {
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0.4rem;
      }
    }
    h4 {
      height: 4.2rem;
      overflow: hidden;
      a {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        color: black;
        transition: 0.4s all;
        font-size: 1.6rem;
        text-decoration: none;
      }
      &:hover a {
        color: #fa5238;
      }
    }
    p {
      font-size: 1.3rem;
      color: #4a4a4a;
      text-align: justify;
      height: 5.5rem;
      overflow: hidden;
    }
    span {
      font-size: 1.2rem;
      color: #bbb;
      cursor: pointer;
      img {
        width: 1.8rem;
        height: auto;
        transition: 0.3s all;
      }
      &:hover img {
        transform: scale(1.1);
      }
    }
  }
  .news__item__small {
    .news__title {
      opacity: 0.7;
    }
    .news__image {
      padding-top: 100% !important;
    }
  }
}
